:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --main-text-color: #f1b2ce;
  --h1-color: #db00ff;
  --title-color: #000028;
  --bg-color: #000028;
}

:root.theme-dark .header__rec-label {
  display: flex;
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 30px;
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

:root.theme-dark .header__rec-label::after {
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

:root.theme-dark .decorated-zone::before {
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

:root.theme-dark .decorated-zone::after {
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

:root.theme-dark .header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

:root.theme-dark .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

:root.theme-dark .header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

:root.theme-dark .link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

:root.theme-dark .link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

:root.theme-dark .header__theme-menu-item {
  color: var(--accent-color);
}

:root.theme-dark .content-section__title {
  color: var(--accent-color);
}
